.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
	padding: 0;
}

.ui-content {
	padding: 0;
}

.home-screen {
	height: 100%;
	min-height: 460px !important;
}


.home-screen-content {
	height: 100%;
	background-image: url("../resources/images/whiteBkg.png");
}

.logo-text {
	margin-top: 27px;
}

.logo-image {
	margin-top: -33px;
	margin-bottom: -45px;
}

.home-screen .content-first {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d9524), color-stop(100%, #7ce061));
	margin: 0;
	text-align: center;
	padding-bottom: 26px;
}

.home-screen .content-first .question{
	margin-top: 20px;
	margin-bottom: 7px;
	color: white;
	text-shadow: 0 1px 0 #009614;
	font-size: 1.0em;
}

.home-screen .content-secondary {
	text-align: center;
}

.content-secondary .home-play-beans-btn {
	background-image: url("../resources/images/play_beans_btn.png");
	height: 50px;
	width: 281px;
	margin: 16px auto 16px auto;
	box-shadow: none;
	border: none;
}

.content-secondary .home-play-beans-btn.ui-btn-hover-c {
	opacity: 0.9;
}
.content-secondary .home-play-beans-btn.ui-btn-down-c {
	opacity: 0.8;
}

.home-screen .join-btn .ui-icon,
.home-screen .cash-btn .ui-icon,
.home-screen .more-btn .ui-icon{
	width: 24px;
	height: 17px;
}

.home-screen .join-btn.ui-btn-icon-left > .ui-btn-inner > .ui-icon, .home-screen .join-btn.ui-btn-icon-right > .ui-btn-inner > .ui-icon,
.home-screen .cash-btn.ui-btn-icon-left > .ui-btn-inner > .ui-icon, .home-screen .cash-btn.ui-btn-icon-right > .ui-btn-inner > .ui-icon,
.home-screen .more-btn.ui-btn-icon-left > .ui-btn-inner > .ui-icon, .home-screen .more-btn.ui-btn-icon-right > .ui-btn-inner > .ui-icon {
	top: 50%;
	margin-top: -11px;
}

.ui-icon-joinIcon,
.ui-icon-cashIcon,
.ui-icon-starIcon {
	background: rgba(0,0,0,.0);
	-moz-background-size: 24px 17px;
	-o-background-size: 24px 17px;
	-webkit-background-size: 24px 17px;
	background-size: 24px 17px;
	box-shadow: none;
}

.ui-icon-starIcon {
	background-image: url("../resources/images/starIcon.png");
}

.ui-icon-cashIcon {
	background-image: url("../resources/images/cashIcon.png");
}

.ui-icon-joinIcon {
	background-image: url("../resources/images/joinIcon.png");
}

.home-screen-content .join-btn,
.home-screen-content .cash-btn,
.home-screen-content .more-btn {
	background: transparent;
	border: none;
	box-shadow: none;
	margin: -1px auto;
	background-image: none;
	border-top: none;
	height: 25px;
	width: 280px
}

.join-btn .ui-btn-corner-all, .cash-btn .ui-btn-corner-all, .more-btn .ui-btn-corner-all {
	border: none;
	text-align: left;
}

.join-btn .ui-btn-text, .cash-btn .ui-btn-text, .more-btn .ui-btn-text {
	margin-left: 5px;
	color: white;
	text-shadow: 0 1px 0 #009614;
	font-size: 0.75em;
	font-weight: normal;
}

.join-btn.ui-btn-down-c .ui-btn-text, .cash-btn.ui-btn-down-c .ui-btn-text, .more-btn.ui-btn-down-c .ui-btn-text {
	color: gray;
}

/*Page 2*/

.claim-bean-screen {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d9524), color-stop(100%, #7ce061));
	margin: 0;
	height: 100%;
	text-align: center;
	min-height: 460px !important;
}

.claim-bean-screen .logo {
	margin-top: 27px;
}

.claim-bean-screen .hint-text {
	margin-top: 24px;
	margin-bottom: 16px;
	font-size: 1.05em;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 0 #009614;
}

.claim-bean-screen .take-text {
	margin-top: 0;
	width: 100%;
	font-size: .8em;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 0 #009614;
}

.claim-bean-screen .error-text {
	display: none;
	width: 280px;
	background: #fbffdc;
	font-size: 0.65em;
	font-weight: bold;
	color: #6e7273;
	text-shadow: none;
	padding: 5px 0 8px 0;
	margin: 0px auto 10px auto;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #e1b900;
}

.claim-bean-screen .token-input {
	width: 280px;
	margin: 0px auto;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #d3dadb;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d3dadb), to( #d3dadb));
	background-image: -webkit-linear-gradient( #d3dadb, #d3dadb);
	background-image: -moz-linear-gradient( #d3dadb, #d3dadb);
	background-image: -ms-linear-gradient( #d3dadb, #d3dadb);
	background-image: -o-linear-gradient( #d3dadb, #d3dadb);
	background-image: linear-gradient( #d3dadb, #d3dadb);
}

.claim-bean-screen .claim-beans-btn {
	width: 280px;
	margin: 10px auto;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #a2a7a8;
	color: #6e7273;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eff2f3), color-stop(2%, #eff2f3), color-stop(3%, #e0e8e9), color-stop(100%, #c1c6c7));
}

.claim-bean-screen .claim-beans-btn.ui-btn-down-c {
	border: 1px solid #565959;
	text-shadow: 0 1px 0 #7a7b7c;
	color: #3a3c3d;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7f8181), color-stop(2%, #7f8181), color-stop(3%, #777b7c), color-stop(100%, #686b6b));
}

.claim-bean-screen .footer {
	position: absolute;
	width: 100%;
	top: 350px;
	background: transparent;
}

.claim-bean-screen .my-beans-btn {
	color: #fff;
	width: 143px;
	height: 41px;
	margin: 12px auto;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #6e7273;
	text-shadow: 0 1px 0 #535556;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b2b2b4), color-stop(2%, #b2b2b4), color-stop(3%, #909193), color-stop(100%, #616163));
}

.claim-bean-screen .my-beans-btn .ui-btn-inner {
	border: none;
}

.claim-bean-screen .my-beans-btn.ui-btn-down-c {
	color: #888888;
	border: 1px solid #3a3c3d;
	text-shadow: 0 1px 0 #3a3b3b;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5e5e60), color-stop(2%, #5e5e60), color-stop(3%, #4b4c4c), color-stop(100%, #353536));
}

/*Page 3 home beans*/

.home-bean-screen {
	background: #fcfcfc;
	margin: 0;
	height: 100%;
	text-align: center;
	min-height: 460px !important;
}

.home-bean-screen .home-bean-toolbar {
	height: 44px;
	background-image: url("../resources/images/toolbar_bg.png");
	border-top: none;
	box-shadow: 0 10px 50px rgba(138, 136, 136, 0.5);
}

.home-bean-screen .home-bean-title {
	margin-top: 10px;
}

.home-bean-screen .home-bean-toolbar-back-button {
	background: rgba(0,0,0,.0);
	background-image: url("../resources/images/back_btn.png");
	width: 59px;
	height: 32px;
	border-radius: 0;
	border: none;
	margin-top: 3px;
	border-bottom: none;
	box-shadow: none;
}

.home-bean-screen .home-bean-toolbar-back-button .ui-btn-inner {
	border: none;
}

.home-bean-screen .home-bean-toolbar-back-button.ui-btn-down-a {
	opacity: 0.7;
}

.home-bean-screen .home-bean-title {
	margin-top: 10px;
}

.home-bean-screen .home-bean-toolbar-favourite-button {
	background: rgba(0,0,0,.0);
	background-image: url("../resources/images/star_btn.png");
	width: 43px;
	height: 33px;
	border-radius: 0;
	border: none;
	margin-top: 3px;
	border-bottom: none;
	box-shadow: none;
}

.home-bean-screen .home-bean-toolbar-favourite-button .ui-btn-inner {
	border: none;
}

.home-bean-screen .home-bean-toolbar-favourite-button.ui-btn-down-a {
	opacity: 0.7;
}

.home-bean-screen .home-beans-content {
	width: 100%;
}

.home-bean-screen .profile {
	text-align: left;
	height: 70px;
	width: 100%;
	box-shadow: 0 3px 40px rgba(138, 136, 136, 0.3);
}

.home-bean-screen .profile .avatar {
	margin-top: 20px;
	margin-left: 15px;
}

.home-bean-screen .profile .details {
	position: absolute;
	top: 66px;
	left: 55px;
}

.home-bean-screen .profile .details .name {
	font-size: 15px;
	font-weight: bold;
	color: #49a131;
}

.home-bean-screen .profile .details .action {
	font-size: 10px;
	font-weight: bold;
	color: #6e7273;
}

.home-bean-screen .profile .like-button,
.home-bean-screen .profile .comment-button,
.home-bean-screen .profile .more-button {
	position: absolute;
	top: 69px;
	height: 26px;
	margin: 0;
	border: none;
	box-shadow: none;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.home-bean-screen .profile .like-button .ui-btn-inner,
.home-bean-screen .profile .comment-button .ui-btn-inner,
.home-bean-screen .profile .more-button .ui-btn-inner {
	border: none;
	padding: 0;
	margin: 5px 0 0 20px;
	color: #6e7273;
}

.home-bean-screen .profile .like-button {
	width: 42px;
	right: 93px;
	background-image: url("../resources/images/like_btn.png");
}

.home-bean-screen .profile .comment-button {
	width: 41px;
	right: 47px;
	background-image: url("../resources/images/comments_btn.png");
}

.home-bean-screen .profile .more-button {
	width: 26px;
	right: 15px;
	background-image: url("../resources/images/more_btn.png");
}

.home-bean-screen .main .number-of-beans {
	text-align: left;
	margin: 16px 15px 12px 15px;
	font-size: 12px;
	color: #6e7273;
}

.home-bean-screen .main .use-beans-btn {
	background-image: url("../resources/images/use_beans_btn.png");
	border: none;
	box-shadow: none;
	height: 50px;
	width: 281px;
	margin: 20px auto 80px auto;
}

.home-bean-screen .main .use-beans-btn.ui-btn-hover-c {
	opacity: 0.9;
}

.home-bean-screen .main .use-beans-btn.ui-btn-down-c {
	opacity: 0.8;
}

.home-beans-tabbar {
	height: 63px;
	border: none;
	background: transparent;
	background-image: url("../resources/images/nav_bar.png");
}

.home-beans-tabbar .ui-btn-active {
	border: none;
	background-image: url("../resources/images/tabbar_item_selected.png");
}

.home-beans-tabbar .ui-navbar li .ui-btn {
	height: 50px;
	border: none;
}

.home-beans-tabbar .ui-navbar li .center-image.ui-btn {
	height: 63px;
}

.home-beans-tabbar .ui-navbar .ui-btn-up-a,
.home-beans-tabbar .ui-navbar .ui-btn-hover-a {
	background: transparent;
}

.home-beans-tabbar .ui-navbar .center-image {
	height: 63px;
	background-image: url("../resources/images/center_item.png");
	background-repeat: no-repeat;
	background-position: top center;
}

.home-beans-tabbar .ui-navbar .home-btn {
	margin-top: 13px;
	background-image: url("../resources/images/home.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.home-beans-tabbar .ui-navbar .comment-btn {
	margin-top: 13px;
	background-image: url("../resources/images/comment.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.home-beans-tabbar .ui-navbar .cash-btn {
	margin-top: 13px;
	background-image: url("../resources/images/cash.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.home-beans-tabbar .ui-navbar .setting-btn {
	margin-top: 13px;
	background-image: url("../resources/images/setting.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.home-beans-tabbar .ui-navbar .selected-btn.home-btn {
	background-image: url("../resources/images/home_selected.png");
}

.home-beans-tabbar .ui-navbar .selected-btn.comment-btn {
	background-image: url("../resources/images/comment_selected.png");
}

.home-beans-tabbar .ui-navbar .selected-btn.cash-btn {
	background-image: url("../resources/images/cash_selected.png");
}

.home-beans-tabbar .ui-navbar .selected-btn.setting-btn {
	background-image: url("../resources/images/setting_selected.png");
}

/*signup page*/

.signup-screen {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d9524), color-stop(100%, #7ce061));
	margin: 0;
	height: 100%;
	text-align: center;
	min-height: 460px !important;
}

.signup-screen .logo {
	margin-top: 27px;
}

.signup-screen .hint-text {
	margin-top: 13px;
	margin-bottom: 12px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 0 #009614;
}

.signup-screen .connect-facebook-btn {
	background: transparent;
	background-image: url("../resources/images/connect_facebook_btn.png");
	height: 30px;
	width: 183px;
	border-radius: 0;
	margin: 20px auto 0 auto;
	box-shadow: none;
	border: none;
}

.signup-screen .connect-facebook-btn.ui-btn-down-c {
	background-image: url("../resources/images/connect_facebook_btn_selected.png");
	box-shadow: none;
	border: none;
}

.signup-screen .signup-form {
	width: 272px;
	margin: 0 auto;
	background: #f1ffed;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 0 1px 4px rgba(22, 92, 2, .66);
	-o-box-shadow: inset 0 1px 4px rgba(22, 92, 2, .66);
	-webkit-box-shadow: inset 0 1px 4px rgba(22, 92, 2, .66);
	box-shadow: inset 0 1px 4px rgba(22, 92, 2, .66);
}

.signup-screen .signup-form .ui-field-contain {
	padding: 0 6px;
	margin: 0;
	border-bottom: 1px solid #d4e0d0;
}

.signup-screen .signup-form .ui-field-contain label.ui-input-text {
	vertical-align: top;
	display: inline-block;
	margin: 0;
}
.signup-screen .signup-form .ui-field-contain input.ui-input-text {
	background-image: none;
	display: inline-block;
}

.signup-screen .signup-form .ui-field-contain .ui-input-text {
	text-align: left;
	padding: 6px 0;
	font-weight: bold;
}
.signup-screen .signup-form .ui-field-contain label.ui-input-text {
	width: 35%;
}
.signup-screen .signup-form .ui-field-contain input.ui-input-text {
	width: 55%;
}

.signup-screen .signup-form .ui-field-contain.username {
	-moz-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.signup-screen .signup-form .ui-field-contain.password {
	-moz-border-radius: 0 0 4px 4px;
	-o-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.signup-screen .signup-form .ui-body-c {
	margin: 0;
	background: transparent;
	border: none;
	box-shadow: none;
}

.signup-screen .create-account-btn {
	color: #6e7273;
	width: 274px;
	height: 41px;
	margin: 8px auto;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #b9bebf;
	text-shadow: 0 1px 0 #535556;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eef2f3), color-stop(2%, #eef2f3), color-stop(3%, #e0e8e9), color-stop(100%, #c0c5c6));
}

.signup-screen .create-account-btn .ui-btn-inner {
	border: none;
}

.signup-screen .create-account-btn.ui-btn-down-c {
	color: #ddd;
	border: 1px solid #6e7273;
	text-shadow: 0 1px 0 #3a3b3b;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b2b2b4), color-stop(2%, #b2b2b4), color-stop(3%, #909193), color-stop(100%, #616163));
}

.signup-screen .sign-in-btn {
	background: transparent;
	background-image: url("../resources/images/signin_btn_bg.png");
	height: 73px;
	width: 270px;
	border-radius: 0;
	margin: 21px auto 0 auto;
	box-shadow: none;
	border: none;
}

.signup-screen .sign-in-btn .ui-btn-inner {
	padding-top: 27px;
	font-size: 12px;
	text-shadow: 0 1px 0 #01a000;
	color: white;
	border: none;
}

.signup-screen .sign-in-btn.ui-btn-down-c .ui-btn-inner {
	color: #e2fbe1;
}

/*signin page*/

.signin-screen {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d9524), color-stop(100%, #7ce061));
	margin: 0;
	height: 100%;
	text-align: center;
	min-height: 460px !important;
}

.signin-screen .logo {
	margin-top: 27px;
	margin-bottom: 20px;
}

.signin-screen .signin-form {
	width: 272px;
	margin: 0 auto;
	background: #f1ffed;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 0 1px 4px rgba(22, 92, 2, .66);
	-o-box-shadow: inset 0 1px 4px rgba(22, 92, 2, .66);
	-webkit-box-shadow: inset 0 1px 4px rgba(22, 92, 2, .66);
	box-shadow: inset 0 1px 4px rgba(22, 92, 2, .66);
}

.signin-screen .signin-form .ui-field-contain {
	padding: 0 6px;
	margin: 0;
	border-bottom: 1px solid #d4e0d0;
}

.signin-screen .signin-form .ui-field-contain label.ui-input-text {
	vertical-align: top;
	display: inline-block;
	margin: 0;
}
.signin-screen .signin-form .ui-field-contain input.ui-input-text {
	background-image: none;
	display: inline-block;
}

.signin-screen .signin-form .ui-field-contain .ui-input-text {
	text-align: left;
	padding: 6px 0;
	font-weight: bold;
}
.signin-screen .signin-form .ui-field-contain label.ui-input-text {
	width: 35%;
}
.signin-screen .signin-form .ui-field-contain input.ui-input-text {
	width: 55%;
}

.signin-screen .signin-form .ui-field-contain.username {
	-moz-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.signin-screen .signin-form .ui-field-contain.password {
	-moz-border-radius: 0 0 4px 4px;
	-o-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.signin-screen .signin-form .ui-body-c {
	margin: 0;
	background: transparent;
	border: none;
	box-shadow: none;
}

.signin-screen .signin-btn {
	color: #6e7273;
	width: 274px;
	height: 41px;
	margin: 8px auto;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #b9bebf;
	text-shadow: 0 1px 0 #535556;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eef2f3), color-stop(2%, #eef2f3), color-stop(3%, #e0e8e9), color-stop(100%, #c0c5c6));
}

.signin-screen .signin-btn .ui-btn-inner {
	border: none;
}

.signin-screen .signin-btn.ui-btn-down-c {
	color: #ddd;
	border: 1px solid #6e7273;
	text-shadow: 0 1px 0 #3a3b3b;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b2b2b4), color-stop(2%, #b2b2b4), color-stop(3%, #909193), color-stop(100%, #616163));
}