development:
  adapter: postgresql
  encoding: unicode
  username: postgres
  password: password
  database: greenbean_development

test:
  adapter: postgresql
  encoding: unicode
  username: postgres
  password: password
  database: greenbeans_test
  
production:
  adapter: postgresql
  encoding: unicode
  username: postgres
  password: gr2nbean
  database: greenbeans_production