#header
  .wrap-full
    .logo
      = link_to 'name', '/admin'
    #nav
      %ul.unstyled.clearfix
        %li=link_to "MEMBERS", "#"
        %li=link_to "PRIZES MANAGER", "#"
        %li=link_to "ACTIONS", "#"
        %li.active=link_to "REPORTS", "#"
    .pull-right
      %p.hidden END SIMULATION
      %p.logout
        FRANCESCO
        = link_to "logout", destroy_merchant_session_path, method: :delete
